/* Estils generals */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px 20px;
}

/* Logo */
.logo img {
    height: 15vh;
}

/* Barra de cerca */
.search-bar {
    display: flex;
    align-items: center;
    gap: 1px;
}

.search-bar input {
    padding: 15px;
    border: 1.5px solid #ccc;
    border-radius: 10px;
    width: 50vw;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
}

.search-bar button img {
    height: 30px;
}

/* Login (header) */
.login {
    text-align: center;
}

.login a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.login p {
    margin: 0;
    font-size: 0.9em;
    color: #666;
}

/* Navegació */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    background-color: #333;
    margin: 0;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    background-color: #757474;
}

/* LOGIN */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.login-container h2 {
    color: #333;
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    text-align: left;
    color: #333;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1.5px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-container input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.login-container input[type="submit"]:hover {
    background-color: #757474;
}

.login-container p.error {
    color: red;
    margin: 10px 0;
}

.login-container p.success {
    color: green;
    margin: 10px 0;
}

/* Estils per al logotip al login */
.login-logo {
    display: block;
    margin: 0 auto 10px auto; /* Centra el logotip i afegeix espai inferior */
    max-width: 100%; /* Asegura que no superi el contenidor */
    height: auto; /* Mantenir proporció */
}